<html>
    <head>
        <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
    </head>
    <body>
        <div>
            <form method="post" action="SetValue">
                <label>
                    First Number
                    <input type="text" name="x"></input>
                </label>
                <br>
                <br>
                <label>
                    Second Number
                    <input type="text" name="y"></input>
                </label>
                <br>
                <br>
                <button type="submit" value="send">Calculate</button>
            </form>
        </div>
    </body>

</html>