@model Portal.Models.Addition

<html>
    <head>
        <link rel="stylesheet" href="StyleSheet.css" />
    </head>
    <body>
        <div>
            Addition of @Model.x and @Model.y = @Model.sum
        </div>
    </body>
</html>

