<html>
    <head>
        <link rel="stylesheet" href="" asp-append-version="true" />

    </head>

    <body>
        <form>
            <label>
                <input type="text" name=""/>

            </label>
        </form>

    </body>


</html>

